*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: cursive;
}

header{
    background-image: url(../imagenes/design1_image1.jpg);
    background-position: center;
    height: 250px;
    padding: 20px;
}

h1{
    font-size: 60px;
}

.logo{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 150px;
    left: 1000px;
}

img{
    width: 250px;
    position: absolute;
    top: 400px;
    left: 975px;
    border-radius: 15px;
}

h2{
    background-color: black;
    text-align: center;
    color: white;
    display: block;
    position: static;
}

.doom{
    text-decoration:none;
    margin: 65px;
    display: block;
}

nav{
    position: absolute;
    top: 250px;
}

article{
    display:block;
    position: relative;
    left: 200px;
    top: 20px;
    margin: 20px;
    max-width: 700px;
}

